<div class="gtco-section-overflow">
  <div class="gtco-section" id="gtco-services" data-section="services">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>YES, WE CAN</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="feature-left">
              <span class="glyphicon glyphicon-pencil" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Craft</strong> your copy</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-monitor"></i></span>
                <span class="glyphicon glyphicon-blackboard" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Create</strong> your content (conceptualization, styling and shooting)</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-toggle"></i></span>
                <span class="glyphicon glyphicon-gift" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Package</strong> your social media</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-animate-effect="fadeIn">
          <div class="row">
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-pencil"></i></span>
                <span class="glyphicon glyphicon-th" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Curate</strong> your collection</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-cog"></i></span>
                <span class="glyphicon glyphicon-random" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Connect</strong> you to the world</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-layers"></i></span>
                <span class="glyphicon glyphicon-folder-open" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Plan</strong> and host your event (private, corporate and wedding inquiries welcome)</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="gtco-section" id="gtco-portfolio" data-section="portfolio">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>PORTFOLIO</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>

        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>

        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>


      </div>
    </div>
  </div>




  <div class="gtco-section" id="gtco-faq" data-section="faq">
    <div class="gtco-container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>THIS IS US</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>

        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>



<div id="gtco-blog" data-section="wow">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>WORDS OF WISDOM</h2>
          <p>Well, we hope so.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Behind the scenes with a styled shoot for Garden and Home</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Our favourite finds of 2017</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Sky Villa, new client feature </h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Future females blog- The personal brand</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Girl gang, strong (Local ladies we're loving)</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>The art scene ( Dubai Art week round up)</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="clearfix visible-sm-block"></div>
      </div>
    </div>
  </div>




  <div class="gtco-section-overflow">
    <div id="gtco-counter" class="gtco-section animated">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2>WE'VE GOT THE STATS</h2>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
          </div>
        </div>
        <div class="row">

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-download"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="2122070" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Successful projects completed</span>

						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center">
							<span class="icon">
								<i class="ti-face-smile"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="402002" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Hours spent GSD* (getting shit done- sorry Mom)</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center" style='height:326px;'>
							<span class="icon">
								<i class="ti-briefcase"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Followers</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
						<div class="feature-center" style='height:326px;'>
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<span class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Happy Clients (you're next)</span>
						</div>
					</div>

				</div>
      </div>
    </div>
    <div id="gtco-products" data-section="say-hi">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2>SAY HI</h2>
            <p>We're real people. Despite being a team of millennials, we don't hide behind social media - we're fans of 'old school PR' and actually like talking to you.</p>
          </div>
        </div>
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <p>You know where to find us, so do that thing</p>
          <span class="glyphicon glyphicon-arrow-down" style='font-size: 40px;' aria-hidden="true"></span>
          <br>
          <p></p>
          <p><a href="#">josie@opendoorscollective.com</a></p>
          <p><a href="#">amy@opendoorscollective.com</a></p>
          <p><a href="#">kirsty@opendoorscollective.com</a></p>
        </div>






        </div>
      </div>
    </div>
  </div>


  <div id="gtco-contact" data-section="contact" class="gtco-cover gtco-cover-xs" style="background-image:url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row text-center">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-12">
							<h3>If you have inqueries please email us at <a href="#">info@yourdomain.com</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


  <div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Subscribe</h2>
					<p>We're promise we're too busy to spam you 😉 Get inside our inner circle by signing up below <span class="glyphicon glyphicon-envelope" style='font-size: 20px; color:white;' aria-hidden="true"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-danger btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>





  <footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">© 2018 OpenDoorsCollective. All Rights Reserved.</small>
					</p>
					<p class="pull-right">
						</p><ul class="gtco-social-icons pull-right">

							<li><a href="#"><%= fa_icon "twitter" %></a></li>
							<li><a href="#"><%= fa_icon "facebook" %></a></li>
							<li><a href="#"><%= fa_icon "linkedin" %></a></li>
						</ul>
					<p></p>
				</div>
			</div>

		</div>
	</footer>