<div class="gtco-section-overflow">
  <div class="gtco-section" id="gtco-services" data-section="services">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>YES, WE CAN</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="feature-left">
              <span class="glyphicon glyphicon-pencil" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Craft</strong> your copy</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-monitor"></i></span>
                <span class="glyphicon glyphicon-blackboard" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Create</strong> your content (conceptualization, styling and shooting)</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-toggle"></i></span>
                <span class="glyphicon glyphicon-gift" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Package</strong> your social media</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-animate-effect="fadeIn">
          <div class="row">
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-pencil"></i></span>
                <span class="glyphicon glyphicon-th" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Curate</strong> your collection</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-cog"></i></span>
                <span class="glyphicon glyphicon-random" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Connect</strong> you to the world</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="feature-left"><span class="icon"><i class="icon-layers"></i></span>
                <span class="glyphicon glyphicon-folder-open" style='font-size: 40px;' aria-hidden="true"></span>
                <div class="feature-copy">
                  <h3><strong>Plan</strong> and host your event (private, corporate and wedding inquiries welcome)</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="gtco-section" id="gtco-portfolio" data-section="portfolio">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>PORTFOLIO</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>

        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>

        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-4"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>


      </div>
    </div>
  </div>




  <div class="gtco-section" id="gtco-faq" data-section="faq">
    <div class="gtco-container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>THIS IS US</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>

        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>
        <div class="col-md-6"><a href="images/img_2.jpg" class="gtco-card-item image-popup" title="Project name here.">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_2.jpg" alt="website template image" class="img-responsive"></figure>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>



<div id="gtco-blog" data-section="wow">
    <div class="gtco-container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2>WORDS OF WISDOM</h2>
          <p>Well, we hope so.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Behind the scenes with a styled shoot for Garden and Home</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Our favourite finds of 2017</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Sky Villa, new client feature </h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Future females blog- The personal brand</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>Girl gang, strong (Local ladies we're loving)</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="col-md-4"><a href="http://www.free-css.com/free-css-templates" class="gtco-card-item has-text">
          <figure>
            <div class="overlay"><i class="ti-plus"></i></div>
            <img src="images/img_1.png" alt="website template image" class="img-responsive"></figure>
          <div class="gtco-text text-left">
            <h2>The art scene ( Dubai Art week round up)</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
            <p class="gtco-category">Sep. 25th, 2016 by John Doe</p>
          </div>
          </a></div>
        <div class="clearfix visible-lg-block visible-md-block"></div>
        <div class="clearfix visible-sm-block"></div>
      </div>
    </div>
  </div>




  <div class="gtco-section-overflow">
    <div id="gtco-counter" class="gtco-section animated">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2>Fun Facts</h2>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
            <div class="feature-center"><span class="icon"><i class="ti-download"></i></span> <span class="counter js-counter" data-from="0" data-to="2122070" data-speed="5000" data-refresh-interval="50">2122070</span> <span class="counter-label">Downloads</span></div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
            <div class="feature-center"><span class="icon"><i class="ti-face-smile"></i></span> <span class="counter js-counter" data-from="0" data-to="402002" data-speed="5000" data-refresh-interval="50">402002</span> <span class="counter-label">Happy Clients</span></div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
            <div class="feature-center"><span class="icon"><i class="ti-briefcase"></i></span> <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">402</span> <span class="counter-label">Projects Done</span></div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
            <div class="feature-center"><span class="icon"><i class="ti-time"></i></span> <span class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">212023</span> <span class="counter-label">Hours Spent</span></div>
          </div>
        </div>
      </div>
    </div>
    <div id="gtco-products" data-section="products">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2>Products</h2>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
          </div>
        </div>
        <div class="row">
          <div class="owl-carousel owl-carousel-carousel owl-theme owl-loaded">




          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1160px, 0px, 0px); transition: 0s; width: 3866.67px;"><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_2.jpg" alt="website template image"></div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_3.jpg" alt="website template image"></div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_4.jpg" alt="website template image"></div></div><div class="owl-item active" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_1.jpg" alt="website template image"></div></div><div class="owl-item active" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_2.jpg" alt="website template image"></div></div><div class="owl-item active" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_3.jpg" alt="website template image"></div></div><div class="owl-item" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_4.jpg" alt="website template image"></div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_1.jpg" alt="website template image"></div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_2.jpg" alt="website template image"></div></div><div class="owl-item cloned" style="width: 366.667px; margin-right: 20px;"><div class="item"><img src="assets/images/img_3.jpg" alt="website template image"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="ti-arrow-left owl-direction"></i></div><div class="owl-next" style=""><i class="ti-arrow-right owl-direction"></i></div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div></div>
        </div>
      </div>
    </div>
  </div>